.crontab-input {
    text-align: center; }
    .crontab-input .explanation {
      text-align: center;
      margin: 16px 0 8px;
      font-size: 20px;
      color: #1890ff; }
      .crontab-input .explanation span {
        background: transparent;
        color: inherit; }
        .crontab-input .explanation span.active {
          text-decoration: underline; }
    .crontab-input .next {
      font-size: .9em;
      opacity: .6;
      margin-bottom: 6px; }
      .crontab-input .next a {
        text-decoration: underline;
        cursor: pointer; }
    .crontab-input .cron-input {
      font-family: "Courier New", Courier, monospace;
      font-size: 30px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #1890ff;
      outline: none; }
      .crontab-input .cron-input.error {
        border: 1px solid red; }
    .crontab-input .parts {
      margin-top: 3px; }
      .crontab-input .parts .part {
        display: inline-block;
        width: 70px;
        text-align: center; }
        .crontab-input .parts .part.selected {
          font-weight: bold;
          color: #1890ff; }
    .crontab-input .allowed-values {
      margin-top: 12px; }
      .crontab-input .allowed-values .value {
        display: -ms-flexbox;
        display: flex;
        width: 400px;
        margin: auto; }
        .crontab-input .allowed-values .value .value, .crontab-input .allowed-values .value .key {
          border-bottom: 1px dashed #AAA;
          padding: 4px; }
        .crontab-input .allowed-values .value .key {
          -ms-flex: 0 1;
              flex: 0 1;
          -ms-flex-preferred-size: 100px;
              flex-basis: 100px;
          text-align: right;
          font-weight: bold;
          padding-right: 20px; }
        .crontab-input .allowed-values .value .value {
          -ms-flex: 1 1;
              flex: 1 1; }
  
  
  